node_modules/
coverage/
npm-debug*.log
yarn-error.log
test/output
pkg/
tmp/
test/fixture/module/bower_components/
test/fixture/module/app/assets/vendor/
test/fixture/module/app/static/assets/
test/fixture/module/app/public
test/fixture/module/node_modules
.sass-cache
